openapi: 3.2.0
info:
  version: v1.6
  title: Student Record Code Lookups Instructor Functions API
  description: Code Lookups from the Office of the Registrar.
servers:
- url: https://api.ucsb.edu/students
tags:
- name: InstructorFunctions
paths:
  /lookups/v1/instructorfunctions:
    get:
      tags:
      - InstructorFunctions
      operationId: /lookups/v1/instructorfunctions
      parameters:
      - name: ucsb-api-version
        in: header
        description: Specific api version to use.
        required: false
        schema:
          type: string
          default: '1.6'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AcademicInstructorFunction'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AcademicInstructorFunction'
      description: Get Instruction function code and translations
      security:
      - ucsb-api-key: []
      summary: /lookups/v1/instructorfunctions
      x-summary-source: derived
components:
  schemas:
    AcademicInstructorFunction:
      type: object
      properties:
        instructorFunctionCode:
          type: string
        instructorFunctionTranslation:
          type: string
  securitySchemes:
    ucsb-api-key:
      name: ucsb-api-key
      in: header
      type: apiKey
