openapi: 3.2.0
info:
  version: 1.0.0
  title: FAU (Functional Accounting Unit) Combination Service Uc Fau…
  description: Validates a FAU combination to determine if the FAU is valid or invalid. If invalid, a message will indicate why.
  termsOfService: ''
  contact:
    name: Christian Montecino - christianmontecino@ucsb.edu
servers:
- url: https://api.ucsb.edu/administration/financial/peoplesoft/fauvalidation/v2
security:
- apiKey: []
tags:
- name: Uc Fau Validation
paths:
  /uc_fau_validation:
    post:
      description: Perform a POST in order to validate an account
      responses:
        '200':
          description: Response - Returns a valid or invalid response based on request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UC_FAU_VALIDATION_REPLY'
        '401':
          description: Unauthorized Error
        '500':
          description: Server Error
      parameters:
      - name: businessunit
        in: query
        required: true
        description: Use UCSB8
        schema:
          type: string
          default: UCSB8
      - name: ledgergoup
        in: query
        required: true
        description: Use ACTUALS for Finanial transactions and APPROP_EXP for Budget
        schema:
          type: string
          default: ACTUALS
      - name: account
        in: query
        required: true
        description: 6 digits reflect campus level account detail rolling up to UCOP Account Group Code; includes functional area
        schema:
          type: string
      - name: fund
        in: query
        description: 5 digits reflect campus level fund detail rolling up to UCOP Fund Group Code
        schema:
          type: string
      - name: sub
        in: query
        description: 1 digit expenditure classification
        schema:
          type: string
      - name: object
        in: query
        description: 4 digits detailed expenditure classification
        schema:
          type: string
      - name: transcode
        in: query
        description: 4 digits used with equity accounts
        schema:
          type: string
      tags:
      - Uc Fau Validation
      summary: Create uc fau validation
      x-summary-source: derived
      operationId: postUcFauValidation
      x-operation-id-source: derived
components:
  schemas:
    MESSAGE_NBR:
      properties:
        IsChanged:
          type: string
      type: object
    COMBO_CF_MSG_H:
      properties:
        COMBO_VALID_FLG:
          $ref: '#/components/schemas/COMBO_VALID_FLG'
        MESSAGE_SET_NBR:
          $ref: '#/components/schemas/MESSAGE_SET_NBR'
        MESSAGE_NBR:
          $ref: '#/components/schemas/MESSAGE_NBR'
        MESSAGE_TEXT:
          $ref: '#/components/schemas/MESSAGE_TEXT'
        COMBO_TRAN_SRC:
          $ref: '#/components/schemas/COMBO_TRAN_SRC'
      type: object
    SEQNO:
      properties: {}
      type: object
    COMBO_CF_MSG_D:
      properties:
        SEQNO:
          $ref: '#/components/schemas/SEQNO'
        COMBO_VALID_FLG:
          $ref: '#/components/schemas/COMBO_VALID_FLG'
      type: object
    AUDIT_ACTN:
      properties:
        IsChanged:
          type: string
      type: object
    COMBO_TRAN_SRC:
      properties:
        IsChanged:
          type: string
      type: object
    PUBLISH_RULE_ID:
      properties:
        IsChanged:
          type: string
      type: object
    MSG_SEQ_FLG:
      properties:
        IsChanged:
          type: string
      type: object
    LANGUAGE_CD:
      properties:
        IsChanged:
          type: string
      type: object
    UC_FAU_VALIDATION_REPLY:
      properties:
        FieldTypes:
          $ref: '#/components/schemas/FieldTypes'
        MsgData:
          $ref: '#/components/schemas/MsgData'
      type: object
    BASE_LANGUAGE_CD:
      properties:
        IsChanged:
          type: string
      type: object
    FieldTypes:
      properties:
        COMBO_CF_MSG_H:
          $ref: '#/components/schemas/COMBO_CF_MSG_H'
        COMBO_CF_MSG_D:
          $ref: '#/components/schemas/COMBO_CF_MSG_D'
        PSCAMA:
          $ref: '#/components/schemas/PSCAMA'
      type: object
    PROCESS_INSTANCE:
      properties:
        IsChanged:
          type: string
      type: object
    COMBO_VALID_FLG:
      properties:
        IsChanged:
          type: string
      type: object
    MESSAGE_TEXT:
      properties:
        IsChanged:
          type: string
      type: object
    Transaction:
      properties:
        COMBO_CF_MSG_H:
          $ref: '#/components/schemas/COMBO_CF_MSG_H'
        PSCAMA:
          $ref: '#/components/schemas/PSCAMA'
      type: array
      minItems: 0
      items:
        $ref: '#/components/schemas/Transaction'
    MsgData:
      properties:
        Transaction:
          $ref: '#/components/schemas/Transaction'
      type: object
    MESSAGE_SET_NBR:
      properties:
        IsChanged:
          type: string
      type: object
    MSGNODENAME:
      properties:
        IsChanged:
          type: string
      type: object
    PSCAMA:
      properties:
        LANGUAGE_CD:
          $ref: '#/components/schemas/LANGUAGE_CD'
        AUDIT_ACTN:
          $ref: '#/components/schemas/AUDIT_ACTN'
        BASE_LANGUAGE_CD:
          $ref: '#/components/schemas/BASE_LANGUAGE_CD'
        MSG_SEQ_FLG:
          $ref: '#/components/schemas/MSG_SEQ_FLG'
        PROCESS_INSTANCE:
          $ref: '#/components/schemas/PROCESS_INSTANCE'
        PUBLISH_RULE_ID:
          $ref: '#/components/schemas/PUBLISH_RULE_ID'
        MSGNODENAME:
          $ref: '#/components/schemas/MSGNODENAME'
      type: object
  securitySchemes:
    apiKey:
      type: apiKey
      name: ucsb-api-key
      in: header
