openapi: 3.2.0
info:
  version: v1.6
  title: Student Record Code Lookups Gender Identity API
  description: Code Lookups from the Office of the Registrar.
servers:
- url: https://api.ucsb.edu/students
tags:
- name: GenderIdentity
paths:
  /lookups/v1/genderidentity:
    get:
      tags:
      - GenderIdentity
      operationId: /lookups/v1/genderidentity
      parameters:
      - name: ucsb-api-version
        in: header
        description: Specific api version to use.
        required: false
        schema:
          type: string
          default: '1.6'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AcademicGenderIdentity'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AcademicGenderIdentity'
      description: Get gender identity code and translation
      security:
      - ucsb-api-key: []
      summary: /lookups/v1/genderidentity
      x-summary-source: derived
components:
  schemas:
    AcademicGenderIdentity:
      type: object
      properties:
        genderIdentityCode:
          type: string
        genderIdentityTranslation:
          type: string
        genderIdentityUCOPCode:
          type: string
  securitySchemes:
    ucsb-api-key:
      name: ucsb-api-key
      in: header
      type: apiKey
