openapi: 3.2.0
info:
  version: v1
  title: Academic Quarter Calendar Quarters API
  description: Quarter Calendar information from the Office of the Registrar.
servers:
- url: https://api.ucsb.edu/academics
tags:
- name: Quarters
paths:
  /quartercalendar/v1/quarters/current:
    get:
      tags:
      - Quarters
      operationId: /quartercalendar/v1/quarters/current
      parameters:
      - name: type
        in: query
        description: "This can be (default) 'firstdayofquarter',\n            'lastdayoffinals'."
        required: false
        schema:
          type: string
          default: ''
      - name: ucsb-api-version
        in: header
        description: The requested API version
        required: false
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuarterCalendar'
            text/json:
              schema:
                $ref: '#/components/schemas/QuarterCalendar'
      description: 'Returns the current quarter. The criteria is today''s date and the search .

        The search type can be ''firstdayofquarter'' (default), ''lastdayoffinals''.

        This data is also available in a human readable format at

        (Data Dictionary - Quarter Calendar)'
      security:
      - ucsb-api-key: []
      summary: /quartercalendar/v1/quarters/current
      x-summary-source: derived
  /quartercalendar/v1/quarters:
    get:
      tags:
      - Quarters
      operationId: /quartercalendar/v1/quarters
      parameters:
      - name: quarter
        in: query
        description: A specific quarter. If this is used all other parameters are ignored.
        required: false
        schema:
          type: string
          default: ''
      - name: date
        in: query
        description: A date within a quarter in format YYYYMMDD.
        required: false
        schema:
          type: string
          default: ''
      - name: type
        in: query
        description: "Used with date parameter. This can be (default) 'firstdayofquarter' or\n            'lastdayoffinals'."
        required: false
        schema:
          type: string
          default: ''
      - name: ucsb-api-version
        in: header
        description: The requested API version
        required: false
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuarterCalendar'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuarterCalendar'
      description: 'Search for a listing of quarters that fit the criteria. All quarters can be returned or

        a specific quarter. If the quarter parameter is used, all other parameters are ignored.

        The date parameter can be used to filter the list down to a quarter that contains the

        give date (YYYYMMDD format). On the date search the criteria for which date is compared

        against the search day can be ''firstdayofquarter'' or ''lastdayoffinals''.

        This data is also available in a human readable format at

        (Data Dictionary - Quarter Calendar)'
      security:
      - ucsb-api-key: []
      summary: /quartercalendar/v1/quarters
      x-summary-source: derived
components:
  schemas:
    QuarterCalendar:
      type: object
      properties:
        quarter:
          type: string
        qyy:
          type: string
        name:
          type: string
        category:
          type: string
          readOnly: true
        academicYear:
          type: string
          readOnly: true
        firstDayOfClasses:
          format: date-time
          type: string
        lastDayOfClasses:
          format: date-time
          type: string
        firstDayOfFinals:
          format: date-time
          type: string
        lastDayOfFinals:
          format: date-time
          type: string
        firstDayOfQuarter:
          format: date-time
          type: string
        lastDayOfSchedule:
          format: date-time
          type: string
        pass1Begin:
          format: date-time
          type: string
        pass2Begin:
          format: date-time
          type: string
        pass3Begin:
          format: date-time
          type: string
        feeDeadline:
          format: date-time
          type: string
        lastDayToAddUnderGrad:
          format: date-time
          type: string
        lastDayToAddGrad:
          format: date-time
          type: string
        lastDayThirdWeek:
          format: date-time
          type: string
  securitySchemes:
    ucsb-api-key:
      name: ucsb-api-key
      in: header
      type: apiKey
