openapi: 3.2.0
info:
  version: v1
  title: Graduate Division Applications v1.0 Verifications API
  description: 'This is designed to return information about applicant/applications from graduate division, for the purpose of verifying applicant status.


    The BasicAuth header is a base64-encoded(ucsbNetId:password) combination. The ucsbNetId/password combination should be of a service account registered with the Campus Identity systems (ETS, the Campus LDAP).

    This ucsbNetId needs to be supplied to the Graduate Division as part of the approval process.'
servers:
- url: https://gradpoint.ucsb.edu/webservices/public/applverifications
tags:
- name: Verifications
paths:
  /v{apiVersion}/perm/{perm}:
    get:
      tags:
      - Verifications
      summary: Search for applications for a grad program applicant by supplying a perm.
      operationId: Verifications_GetApplicantByPerm
      parameters:
      - name: perm
        in: path
        description: Students 6 or 7 digit perm
        required: true
        schema:
          type: string
      - name: apiVersion
        in: path
        description: Major api version to use.
        required: true
        schema:
          type: string
          default: '1'
      - name: ucsb-api-version
        in: header
        description: Specific api version to use.
        required: false
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: List of graduate application for a student perm.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationVerification'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationVerification'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApplicationVerification'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApplicationVerification'
        '400':
          description: Bad or malformed request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApiInvalidModel'
            text/json:
              schema:
                $ref: '#/components/schemas/WebApiInvalidModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/WebApiInvalidModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/WebApiInvalidModel'
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
            text/json:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
        '404':
          description: Resource cannot be found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
            text/json:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
  /v{apiVersion}/user:
    post:
      tags:
      - Verifications
      summary: Search for applications for a grad program applicant by supplying a valid eApp…
      operationId: Verifications_GetApplicantByUser
      parameters:
      - name: apiVersion
        in: path
        description: Major api version to use.
        required: true
        schema:
          type: string
          default: '1'
      - name: ucsb-api-version
        in: header
        description: Specific api version to use.
        required: false
        schema:
          type: string
          default: '1.0'
      responses:
        '200':
          description: List of graduate application for a student email and password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationVerification'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationVerification'
            application/xml:
              schema:
                $ref: '#/components/schemas/ApplicationVerification'
            text/xml:
              schema:
                $ref: '#/components/schemas/ApplicationVerification'
        '400':
          description: Bad or malformed request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebApiInvalidModel'
            text/json:
              schema:
                $ref: '#/components/schemas/WebApiInvalidModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/WebApiInvalidModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/WebApiInvalidModel'
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
            text/json:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
        '404':
          description: Resource cannot be found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
            text/json:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/SimpleMessageModel'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationVerificationRequestByUser'
          text/json:
            schema:
              $ref: '#/components/schemas/ApplicationVerificationRequestByUser'
          application/xml:
            schema:
              $ref: '#/components/schemas/ApplicationVerificationRequestByUser'
          text/xml:
            schema:
              $ref: '#/components/schemas/ApplicationVerificationRequestByUser'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApplicationVerificationRequestByUser'
        description: User Name and Password object
        required: true
components:
  schemas:
    SimpleMessageModel:
      type: object
      properties:
        message:
          type: string
    WebApiInvalidModel:
      type: object
      properties:
        message:
          type: string
        modelState:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    ApplicationVerificationRequestByUser:
      description: Application Verification Request , containing email and password
      required:
      - email
      - password
      type: object
      properties:
        email:
          description: Email for the applicant
          type: string
        password:
          description: Password for the applicant
          type: string
    ApplicationVerification:
      type: object
      properties:
        applicationId:
          format: int32
          description: Application's unique identifier.
          type: integer
        perm:
          description: Applicant's complete Perm (7 characters)
          type: string
        firstName:
          description: Applicant's first name.
          type: string
        middleName:
          description: Applicant's middle name.
          type: string
        lastName:
          description: Applicant's last name.
          type: string
        previousName:
          description: Applicant's previous name used, if any.
          type: string
        email:
          description: Applicant's email address.
          type: string
        majorCode1:
          description: 5 character major code, which can be found in the Student Record Lookup API
          type: string
        objectiveCode1:
          description: 3 character objective code, which can be found in the Student Record Lookup API.
          type: string
        majorCode2:
          description: 5 character major code, which can be found in the Student Record Lookup API
          type: string
        objectiveCode2:
          description: 3 character objective code, which can be found in the Student Record Lookup API.
          type: string
        birthDate:
          description: Applicant's date of birth in YYYY-MM-DD format.
          type: string
        submittedDate:
          description: Date application was submitted in YYYY-MM-DD format.
          type: string
        paid:
          description: Application payment status indicator.
          type: boolean
        programAdmitQuarter:
          description: Program Admissions Quarter string in YYYYQ format.
          type: string
        citizenshipCountryCode:
          description: Citizenship Country. Two character country code.
          type: string
        residencyCountryCode:
          description: Residency Country. Two character country code.
          type: string
        californiaResident:
          description: Indicates California Residency status
          type: boolean
        visaCode:
          description: Visa type.
          type: string
        militaryService:
          description: Type of military service, if any.
          type: string
        ethnicity:
          description: Ethnicity
          type: string
        actionCode:
          description: Returns what the old ACTION code would have been
          type: string
        decisionNotes:
          description: Decision notes.
          type: string
        sirResponse:
          description: SIR response. Possible values are 'No Response', 'Yes', 'No'.
          type: string
        sirResponseDate:
          description: Date applicant responded in YYYY-MM-DD format.
          type: string
        declineReason:
          description: 'SIR decline reason. Possible values are

            ''Not Declined'', ''I will attend another UC campus'' , ''I will attend another non-UC institution'', ''I will not attend graduate school next year'''
          type: string
        schoolAttending:
          description: Name of school attending.
          type: string
        genderCode:
          description: Applicant's gender.
          type: string
        address1:
          description: Permanent Address Line 1.
          type: string
        address2:
          description: Permanent Address Line 2.
          type: string
        city:
          description: Permanent Address City.
          type: string
        stateCode:
          description: Permanent Address State. Two character state code.
          type: string
        postalCode:
          description: Permanent Address Postal Code.
          type: string
        countryCode:
          description: Permanent Address Country. Two character country code.
          type: string
        mailAddress1:
          description: Mailing Address Line 1.
          type: string
        mailAddress2:
          description: Mailing Address Line 2.
          type: string
        mailCity:
          description: Mailing Address City.
          type: string
        mailStateCode:
          description: Mailing Address State. Two character state code.
          type: string
        mailZip:
          description: Mailing Address Postal Code.
          type: string
        mailCountryCode:
          description: Mailing Address Country. Two character country code.
          type: string
        phone:
          description: Permanent Address Phone Number.
          type: string
        deferralAdmitQuarter:
          description: Deferral Admit Quarter string in YYYYQ format.
          type: string
        fiveYear:
          description: Indicates if the application if for a five year BA/MA program
          type: boolean
  securitySchemes:
    ucsb-api-key:
      name: ucsb-api-key
      in: header
      type: apiKey
