# x-archived-from: ucsb-employee-job-openapi.yml
# x-archived-on: 2026-09-16
swagger: '2.0'
info:
  version: v1.0
  title: Employment and Job Data
  description: Employment and Job Data (private API only)
  x-source-url: https://developer.ucsb.edu/sites/default/files/openapi/employee-job-2.yaml
  x-last-validated: '2026-08-30'
  x-operator: institution
host: api.ucsb.edu
basePath: /employees/private/employeejoblookup
schemes:
- https
securityDefinitions:
  apiKey:
    type: apiKey
    name: ucsb-api-key
    in: header
security:
- apiKey: []
paths:
  /v1/employee:
    get:
      tags:
      - Employees
      produces:
      - application/json
      description: Retrieve a list of employee information.<br /> <br /> The employee data is meant to
        have basic information for display on web pages or reports.
      responses:
        '200':
          description: A list of Employees
          schema:
            type: array
            items:
              $ref: '#/definitions/EmployeeModel'
  /v1/employee/{employeeId}:
    get:
      tags:
      - Employees
      produces:
      - application/json
      description: Retrieve an employee's information.<br /> <br /> The employee data is meant to have
        basic information for display on web pages or reports.
      parameters:
      - name: employeeId
        in: path
        description: The 8-character employee number
        required: true
        type: string
        minLength: 8
        maxLength: 8
      responses:
        '200':
          description: An array with one individual Employee
          schema:
            type: array
            items:
              $ref: '#/definitions/EmployeeModel'
  /v1/employeejob:
    get:
      tags:
      - Employees
      produces:
      - application/json
      description: Retrieve a list of employee job records
      responses:
        '200':
          description: A list of employee job records for all employees
          schema:
            type: array
            items:
              $ref: '#/definitions/EmployeeJobModel'
  /v1/employeejob/{employeeId}:
    get:
      tags:
      - Employees
      produces:
      - application/json
      description: Retrieve a list of employee job records
      parameters:
      - name: employeeId
        in: path
        description: The 8-character employee number
        required: true
        type: string
        minLength: 8
        maxLength: 8
      responses:
        '200':
          description: A list of employee job records for a single employee
          schema:
            type: array
            items:
              $ref: '#/definitions/EmployeeJobModel'
  /v1/lookup/jobcodes:
    get:
      tags:
      - Employees
      produces:
      - application/json
      description: Lookup employment job codes to descriptions
      responses:
        '200':
          description: A list of employement job codes and description
          schema:
            type: array
            items:
              $ref: '#/definitions/JobCodesModel'
  /v1/lookup/jobclasscodes:
    get:
      tags:
      - Employees
      produces:
      - application/json
      description: Lookup of employment job class codes to descriptions
      responses:
        '200':
          description: A list of job class codes and descriptions
          schema:
            type: array
            items:
              $ref: '#/definitions/JobClassCodesModel'
  /v1/lookup/empstatuscodes:
    get:
      tags:
      - Employees
      produces:
      - application/json
      description: Lookup of employment status codes to descriptions
      responses:
        '200':
          description: A list of employment status codes and descriptions
          schema:
            type: array
            items:
              $ref: '#/definitions/EmploymentStatusModel'
definitions:
  EmployeeModel:
    type: object
    properties:
      employeeId:
        description: The 8-character employee number (treat this as a string)
        type: string
        minLength: 8
        maxLength: 8
      firstName:
        description: The first name (given name)
        type: string
        maxLength: 30
      middleName:
        description: The middle name
        type: string
        maxLength: 30
      lastName:
        description: The last name (family name)
        type: string
        maxLength: 30
      employmentStatusCode:
        description: ???
        type: string
        minLength: 1
        maxLength: 1
      campusPhoneNumber:
        description: Phone number for the employee (LDAP's telephoneNumber) in XXX-XXX-XXXX format.
        type: string
        maxLength: 12
      homeDeptCode:
        description: The department code
        type: string
        minLength: 4
        maxLength: 4
      ucsbCampusId:
        description: Unique identifier within UCSB Campus Identity Systems (GUID)
        type: string
        minLength: 36
        maxLength: 36
      ppsEmployeeId:
        description: The older employeeId used in the PPS systems before the UC Path switchover. This
          is used for reference with historical data.
        type: string
      businessEmail:
        description: The ucsb.edu email address of the employee.
        type: string
      ucsbNetId:
        description: The ucsbNetId of the employee.
        type: string
  EmployeeJobModel:
    type: object
    properties:
      employeeId:
        description: The 8-character employee number (treat this as a string)
        type: string
        minLength: 8
        maxLength: 8
      jobCode:
        description: The unique job code that represents this job
        type: string
        maxLength: 6
      jobClassCode:
        description: ???
        type: string
        maxLength: 2
      hireDate:
        description: The hire date in YYYYMMDD format
        type: string
      terminationDate:
        description: The termination date in YYYYMMDD format
        type: string
      deptCode:
        description: The primary HR department associated with job.
        type: string
        maxLength: 4
      fte:
        description: The percentage allocation of the employee to the job.
        type: number
        format: float
  JobCodesModel:
    type: object
    properties:
      code:
        description: 'Unique Code (Examples: 001234, CW1234)'
        type: string
        minLength: 6
        maxLength: 6
      description:
        description: 'Description of the employee job (Examples: STDT ACAD MGR 2, STDT DISABILITY MGR
          1)'
        type: string
  JobClassCodesModel:
    type: object
    properties:
      code:
        description: 'Unique Code (Examples: 1, 13, C)'
        type: string
        minLength: 1
        maxLength: 2
      description:
        description: 'Description of the employee class (Examples: Staff: Contract, Staff: Contingent
          Work, Conversion Use Only)'
        type: string
  EmploymentStatusModel:
    type: object
    properties:
      code:
        description: 'Unique Code (examples: A, N, W, S)'
        type: string
        minLength: 1
        maxLength: 1
      description:
        description: 'Descriptions of the Employeement Status (examples: Active, Leave Without Pay, Short
          Work Break, Separated'
        type: string
